body {
  height: 175vh;
  width: 100%;
  background: url("../img/beautiful-night-sky-2.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  font-family: "Raleway", sans-serif;
  overflow: hidden;
}

.header {
  padding-top: 15vh;
}

.body {
  margin-top: 35px;
}

.bigboi {
  /*top: 20vh;*/
  font-family: "Vollkorn", serif;
  color: white;
  font-weight: 700;
  font-size: 80px;
  text-align: center;
}

.smallboi {
  margin-top: -7px;
  font-family: "Raleway", sans-serif;
  color: rgb(233, 233, 233);
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}

.success {
  margin-top: 10px;
}

form {
  font-family: "Raleway";
  font-weight: 200;
  padding-top: 10px;
  padding-bottom: 10px;
}

input[type=submit] {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 3em;
}

label {
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: 200;
  font-size: 20px;
}

#mapContainer {
  width: 60%;
  height: 85vh;
  margin-top: 2vh;
  float: right;
  margin-right: 5%;
}

#panelContainer {
  width: 30%;
  height: 85vh;
  margin-top: 2vh;
  float: left;
  background: #2d6480;
  color: white;
  margin-left: 5%;
  position: absolute;
  overflow: scroll;
}

#searchAgain {
  margin-top: 37vh;
  font-family: "Raleway";
  font-weight: 500;
}

ul {
  list-style-type: none;
}

li {
  text-decoration: none;
}
